.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.edit-button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgb(255, 155, 0);
  color: white;
}

.save-button {
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: rgb(255, 155, 0);
  color: white;
}