body{
  font-family: Arial; /*sents the font for the whole body or website*/
  margin-top: 0px;
  margin-bottom: 0px; /*remove default margin of the body (8px) we did this so that it doesnt add
                      extra pixel so the height: 100vh that is used in the .app-container, 
                      this makes the height exaclty of browser*/
  background-color: rgb(97, 97, 97);
  color: white;
}